[user]
  name = Nikhil Vengal
  email = ngvengal@gmail.com
[core]
  editor = vim
  excludesfile = ~/.config/git/gitignore_global
[diff]
  wsErrorHighlight = all
[merge]
  tool = nvim -d
[init]
  defaultBranch = main
[alias]
  add-trailer = commit --no-edit --amend --trailer
