// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
themes {
    mariana {
      bg "#343d46"
      fg "#d8dee9"
      black "#000000"
      red "#ec5f66"
      green "#99c794"
      yellow "#f9ae58"
      blue "#6699cc"
      magenta "#c695c6"
      cyan "#5fb4b4"
      white "#f7f7f7"
      orange "#f9ae58"
    }
    gruvbox-light {
        fg 60 56 54
        bg 251 82 75
        black 40 40 40
        red 205 75 69
        green 152 151 26
        yellow 215 153 33
        blue 69 133 136
        magenta 177 98 134
        cyan 104 157 106
        white 213 196 161
        orange 214 93 14
    }
    gruvbox-dark {
        fg 213 196 161
        bg 40 40 40
        black 60 56 54
        red 204 36 29
        green 152 151 26
        yellow 215 153 33
        blue 69 133 136
        magenta 177 98 134
        cyan 104 157 106
        white 251 241 199
        orange 214 93 14
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "mariana"

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"
